<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.mimiuchi.android" android:versionCode="1"
	android:versionName="1.0">

	<!-- このアプリケーションだけがメッセージの受信と登録の結果の受信が可能 -->
	<permission android:name="com.mimiuchi.android.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="com.mimiuchi.android.permission.C2D_MESSAGE" />

	<!-- このアプリケーションは登録とメッセージ受信の許可がある -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

	<!-- 登録 ID をサーバに送信する -->
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- アプリケーション設定(receiver要素も含みます) -->
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true" android:theme="@android:style/Theme.Light.NoTitleBar">

		<activity android:name=".SplashActivity"
			android:screenOrientation="portrait" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".WebViewActivity"
			android:label="@string/app_name" android:screenOrientation="portrait">
		</activity>

		<!-- C2DM サーバのみがアプリにメッセージを送信できる。許可がセットされないと、他のどのアプリでもこれを生成できてしまう -->
		<receiver android:name=".C2DMReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">

			<!-- 実際のメッセージの受信 -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.mimiuchi.android" />
			</intent-filter>

			<!-- 登録 ID の受信 -->
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.REGISTRATION" />
				<category android:name="com.mimiuchi.android" />
			</intent-filter>
		</receiver>
	</application>

	<uses-sdk android:minSdkVersion="7" />

</manifest> 
